version: "3.9"

services:
    app:
        build: .
        container_name: stremio-addon
        restart: unless-stopped
        ports:
            - "7000:7000"
        env_file:
            - .env
        depends_on:
            - jackett

    jackett:
        image: lscr.io/linuxserver/jackett:latest
        container_name: jackett
        restart: unless-stopped
        ports:
            - "9117:9117"
        volumes:
            - ./jackett/config:/config
            - ./jackett/downloads:/downloads
        environment:
            - PUID=1000
            - PGID=1000
            - AUTO_UPDATE=true
            - TZ=Asia/Karachi
